site_name: Volker Janz
site_url: https://vojay.io
site_author: Volker Janz

theme:
  name: material
  icon:
    logo: material/console
  palette:
    scheme: slate
    primary: indigo
    accent: indigo
  features:
    - navigation.instant

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - About: about.md

extra:
  analytics:
    provider: google
    property: G-Y1D1YZJQ7T
